<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        .file-field.big .file-path-wrapper {
height: 3.2rem; }
.file-field.big .file-path-wrapper .file-path {
height: 3rem; }
    </style>
</head>
<body>
    <form class="md-form">
        <div class="file-field">
          <a class="btn-floating peach-gradient mt-0 float-left">
            <i class="fas fa-paperclip" aria-hidden="true"></i>
            <input type="file">
          </a>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload your file">
          </div>
        </div>
      </form>
      <form class="md-form">
        <div class="file-field">
          <a class="btn-floating blue-gradient mt-0 float-left">
            <i class="far fa-heart" aria-hidden="true"></i>
            <input type="file">
          </a>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload your file">
          </div>
        </div>
      </form>
      <form class="md-form">
        <div class="file-field">
          <a class="btn-floating purple-gradient mt-0 float-left">
            <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
            <input type="file">
          </a>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload your file">
          </div>
        </div>
      </form> 
</body>
</html>